body{
    background-color: #525252;
}
i{
    float: right;
    font-size: 48px;
    color:rgba(255, 0, 17, 0.684);
}
.container{
    padding: 30px;
    border: 1px solid grey;
    margin-top: 50px;
    background: rgba(245, 245, 245, 0.886);
    box-shadow:0 0 5px 5px #525252;
    border-radius: 10px;
}
.form-control{
    padding: 20px;
    font-size: 30px;
    height: 50px;
    text-align: right;
}
.btn_font{
    font-size: 35px;
}
.padding1{
    padding: 5px;
}
.btn{
    background-color:rgba(128, 128, 128, 0.829);
    border-radius: 35%;
}
.btn1{
    background-color:rgba(128, 128, 128, 0.338);
    border-radius: 35%;
}
.btn:hover{
    background-color:rgba(128, 128, 128, 0.338);
}
.btn1:hover{
    background-color:rgba(255, 217, 0, 0.725);
  
}